# configure cloud-init to find the seed on the CIDATA FAT partition
# created by build-image.sh, instead of timing out probing EC2/Azure/GCE.
datasource_list: [ NoCloud, None ]
datasource:
  NoCloud:
    fs_label: CIDATA
